In [1]:
#import libraries
import mysql.connector
import pandas as pd
import numpy as np

In [5]:
#sql connection
mydb=mysql.connector.connect(host="localhost", user="root", password="", database="")
my_cursor = mydb.cursor()
#my_cursor.execute("DROP DATABASE data_spark")
my_cursor.execute("CREATE DATABASE IF NOT EXISTS data_spark")
print("database created successfully")

database created successfully

In [9]:
my_cursor.execute("USE data_spark")

In [ ]:
df_customers = pd.read_csv(r"C:/Users/ANUPRIYA/Desktop/DataSpark/Cleaned_data/customer_cleaned.csv", encoding='latin1') 
df_exchange_rates = pd.read_csv(r"C:/Users/ANUPRIYA/Desktop/DataSpark/Cleaned_data/exchange_cleaned.csv")
df_products = pd.read_csv(r"C:/Users/ANUPRIYA/Desktop/DataSpark/Cleaned_data/product_cleaned.csv")
df_stores = pd.read_csv(r"C:/Users/ANUPRIYA/Desktop/DataSpark/Cleaned_data/stores_cleaned.csv")
df_sales = pd.read_csv(r"C:/Users/ANUPRIYA/Desktop/DataSpark/Cleaned_data/sales_cleaned.csv")

In [10]:
#customer table creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS customers(
                  CustomerKey INT(64),
                  Gender VARCHAR(255),
                  Name VARCHAR(255),
                  City VARCHAR(255),
                  State VARCHAR(255),
                  Country VARCHAR(255),
                  Continent VARCHAR(255),
                  Birthday DATE
                  )''')
print("Table Created successfully")

Table Created successfully

In [11]:
# insert values into customer table
insert_query='''INSERT INTO customers(
                  CustomerKey,
                  Gender,
                  Name,
                  City,
                  State,
                  Country,
                  Continent,
                  Birthday)
                  VALUES(%s,%s,%s,%s,%s,%s,%s,%s)'''
data=df_customers.values.tolist()
batch_size = 1000  # Adjust this value as needed

for i in range(0, len(data), batch_size):
    batch_data = data[i:i + batch_size]
    try:
        # Performing batch insert with executemany()
        my_cursor.executemany(insert_query, batch_data)
        mydb.commit()
    except mysql.connector.Error as err:
        if err.errno == mysql.connector.errorcode.CR_SERVER_LOST or err.errno == mysql.connector.errorcode.CR_SERVER_GONE_ERROR:
            reconnect()
            my_cursor.executemany(insert_query, batch_data)
            mydb.commit()
print("Inserted successfully")

Inserted successfully

In [12]:
# exchange_rates table creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS exchange_rates(
                  Date DATE,
                  Currency_Code VARCHAR(255),
                  Exchange FLOAT
                  )''')
print("Table Created successfully")

# insert values into exchange_rates table
insert_query ='''INSERT INTO exchange_rates(
                  Date,
                  Currency_Code,
                  Exchange)
                  VALUES (%s, %s, %s)'''
data=df_exchange_rates.values.tolist()
batch_size = 1000  # Adjust this value as needed

for i in range(0, len(data), batch_size):
    batch_data = data[i:i + batch_size]
    try:
        # Performing batch insert with executemany()
        my_cursor.executemany(insert_query, batch_data)
        mydb.commit()
    except mysql.connector.Error as err:
        if err.errno == mysql.connector.errorcode.CR_SERVER_LOST or err.errno == mysql.connector.errorcode.CR_SERVER_GONE_ERROR:
            reconnect()
            my_cursor.executemany(insert_query, batch_data)
            mydb.commit()
print("Inserted successfully")

Table Created successfully
Inserted successfully

In [13]:
# create Products table 
my_cursor.execute('''CREATE TABLE IF NOT EXISTS products(
                  ProductKey INT(64),
                  Product_Name VARCHAR(255),
                  Brand VARCHAR(255),
                  Color VARCHAR(255),
                  Unit_Cost_USD FLOAT,
                  Unit_Price_USD FLOAT,
                  Subcategory VARCHAR(255),
                  CategoryKey INT(64),
                  Category VARCHAR(255)
                  )''')
print("Table Created successfully")

#insert values into Products table
insert_query ='''INSERT INTO products(
                  ProductKey,
                  Product_Name,
                  Brand,
                  Color,
                  Unit_Cost_USD,
                  Unit_Price_USD,
                  Subcategory,
                  CategoryKey,
                  Category)
                  VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s)'''
data=df_products.values.tolist()
batch_size = 1000  # Adjust this value as needed

for i in range(0, len(data), batch_size):
    batch_data = data[i:i + batch_size]
    try:
        # Performing batch insert with executemany()
        my_cursor.executemany(insert_query, batch_data)
        mydb.commit()
    except mysql.connector.Error as err:
        if err.errno == mysql.connector.errorcode.CR_SERVER_LOST or err.errno == mysql.connector.errorcode.CR_SERVER_GONE_ERROR:
            reconnect()
            my_cursor.executemany(insert_query, batch_data)
            mydb.commit()
print("Inserted successfully")

Table Created successfully
Inserted successfully

In [14]:
#sales table creation
my_cursor.execute('''CREATE TABLE IF NOT EXISTS sales(
                  Order_Number INT(64),
                  Line_Item INT(64),
                  Order_Date DATE,
                  Delivery_Date DATE,
                  CustomerKey INT(64),
                  StoreKey INT(64),
                  ProductKey INT(64),
                  Quantity INT(64),
                  Currency_Code VARCHAR(255)
                  )''')
print("Table Created successfully")

#insert values into sales table
insert_query ='''INSERT INTO sales(
                  Order_Number,
                  Line_Item,
                  Order_Date,
                  Delivery_Date,
                  CustomerKey,
                  StoreKey,
                  ProductKey,
                  Quantity,
                  Currency_Code)
                  VALUES (%s, %s, %s, %s, %s, %s, %s, %s,%s)'''
data=df_sales.values.tolist()
batch_size = 1000  # Adjust this value as needed

for i in range(0, len(data), batch_size):
    batch_data = data[i:i + batch_size]
    try:
        # Performing batch insert with executemany()
        my_cursor.executemany(insert_query, batch_data)
        mydb.commit()
    except mysql.connector.Error as err:
        if err.errno == mysql.connector.errorcode.CR_SERVER_LOST or err.errno == mysql.connector.errorcode.CR_SERVER_GONE_ERROR:
            reconnect()
            my_cursor.executemany(insert_query, batch_data)
            mydb.commit()
print("Inserted successfully")

Table Created successfully
Inserted successfully

In [21]:
import pandas as pd
import pymysql

# Connect to MySQL
mydb = pymysql.connect(
    host="localhost",
    user="root",
    password="",
    database="data_spark"
)
my_cursor = mydb.cursor()

# Load the dataset (update path accordingly)
df_customers = pd.read_csv("C:/Users/ANUPRIYA/Desktop/DataSpark/Cleaned_data/stores_cleaned.csv", encoding='utf-8')

# Optional: convert 'Birthday' to datetime format if needed
df_customers['Birthday'] = pd.to_datetime(df_customers['Birthday'], errors='coerce')

# Replace NaN with None to allow NULLs in MySQL
df_customers = df_customers.where(pd.notnull(df_customers), None)

# Ensure only required columns are used and in correct order
df_customers = df_customers[['CustomerKey', 'Gender', 'Name', 'City', 'State', 'Country', 'Continent', 'Birthday']]

# Insert query
insert_query = '''
    INSERT INTO customers (
        CustomerKey,
        Gender,
        Name,
        City,
        State,
        Country,
        Continent,
        Birthday
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
'''

# Convert to list of tuples
data = df_customers.values.tolist()

# Insert into MySQL
my_cursor.executemany(insert_query, data)
mydb.commit()

print("Customer data inserted successfully.")

Customer data inserted successfully.